<div fxLayout="row" fxFlexFill>
  <div fxFlex="20"></div>
  <div fxFlex="60">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
          <div fxLayout="column" fxLayoutAlign="space-between">
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field class="full-width">
                <input
                  matInput
                  [type]="isPasword ? 'password' : 'text'"
                  (input)="passwordsDidNotMatch = false"
                  placeholder="Password"
                  autocomplete="false"
                  [formControl]="passwordForm.controls['password']"
                />
                <span matSuffix>
                  <mat-icon
                    *ngIf="!isPasword"
                    style="cursor: pointer;"
                    (click)="isPasword = true"
                  >
                    visibility
                  </mat-icon>
                  <mat-icon
                    *ngIf="isPasword"
                    style="cursor: pointer;"
                    (click)="isPasword = false"
                  >
                    visibility_off
                  </mat-icon>
                </span>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field class="full-width">
                <input
                  matInput
                  [type]="isConfirmPassword ? 'password' : 'text'"
                  placeholder="Confirm Password"
                  (input)="passwordsDidNotMatch = false"
                  autocomplete="false"
                  [formControl]="passwordForm.controls['confirmPassword']"
                />
                <span matSuffix>
                  <mat-icon
                    *ngIf="!isConfirmPassword"
                    style="cursor: pointer;"
                    (click)="isConfirmPassword = true"
                    >visibility
                  </mat-icon>
                  <mat-icon
                    *ngIf="isConfirmPassword"
                    style="cursor: pointer;"
                    (click)="isConfirmPassword = false"
                    >visibility_off
                  </mat-icon>
                </span>
              </mat-form-field>
            </div>

            <small *ngIf="passwordsDidNotMatch" class="text-danger support-text"
              >Password & Confirm Password did not match.</small
            >
            <small
              *ngIf="
                passwordForm.controls['password'].invalid &&
                passwordForm.controls['password'].touched
              "
              class="text-danger support-text"
              >Password should have atleast 1 special 1 alphabet 1 numeric &
              length between 6-16</small
            >

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <button
                mat-raised-button
                color="primary"
                class="btn-block btn-lg m-t-20 m-b-20"
                type="submit"
                [disabled]="updatingData"
              >
                Change Password
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="20"></div>
</div>
