<h2 mat-dialog-title>
  Action Required!
</h2>
<mat-dialog-content>
  <div fxLayout="column" fxFlexFill>
    <div fxFlex="10">
      <span>{{ modalData?.message }}</span>
    </div>
    <div fxFlex="90" class="m-t-20">
      <span *ngIf="!showFeedback">
        Help us improve, please give us your
        <button
          mat-button
          class="p-0"
          color="accent"
          (click)="showFeedback = true"
        >
          feedback
          <mat-icon>feedback</mat-icon>
        </button>
      </span>
      <app-party-feedback
        *ngIf="showFeedback"
        [feedbackQuestions]="modalData?.feedbackQuestions"
        (onFeedbackChange)="feedbackChange($event)"
      ></app-party-feedback>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button [color]="modalData?.actionColor" (click)="ok()">
    {{ modalData?.actionText }}
  </button>
</mat-dialog-actions>
